<div *ngIf="isLoading" class="w-100 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-light" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<div *ngIf="getError" class="w-100 d-flex align-items-center justify-content-center">
    <div *ngIf="getError" class="alert alert-danger d-flex align-items-center" role="alert">
        <i class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"></i>
        <div>
            Unfortunately, there was a problem with getting your todos. Please reload and try again.
        </div>
    </div>
</div>
<div *ngIf="todos.length !== 0" class="container">
    <div class="row">
        <div *ngFor="let todo of todos" class="col-12 col-md-6 col-xl-4 d-flex">
            <div class="card mb-4 w-100">
                <div class="card-body">
                    <h5 class="card-title text-dark">
                        <div *ngIf="!patchingTodos.includes(todo.id)" class="form-check">
                            <input class="form-check-input" type="checkbox" id="flexCheckDefault-{{todo.id}}"
                                [checked]="todo.completed" (change)="patchTodo($event, todo.id)">
                            <label class="form-check-label" for="flexCheckDefault-{{todo.id}}">
                                {{todo.title}}
                            </label>
                        </div>
                        <div *ngIf="patchingTodos.includes(todo.id)">
                            <div class="spinner-border" role="status" style="width: 1rem; height: 1rem;">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            {{todo.title}}
                        </div>
                    </h5>
                    <div *ngIf="patchTodoErrors.includes(todo.id)" class="alert alert-danger d-flex align-items-center"
                        role="alert">
                        <i class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"></i>
                        <div>
                            We could not update this todo. Please reload and try again.
                        </div>
                    </div>
                    <h6 class="card-subtitle mb-2 text-muted">Todo ID: {{todo.id}}</h6>
                    <p class="card-text text-dark">User ID: {{todo.userId}}</p>
                    <div *ngIf="deleteTodoErrors.includes(todo.id)" class="alert alert-danger d-flex align-items-center"
                        role="alert">
                        <i class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"></i>
                        <div>
                            We could not delete this todo. Please reload and try again.
                        </div>
                    </div>
                    <button type="button" class="btn btn-danger" (click)="deleteTodo(todo.id)">
                        <div *ngIf="deletingTodos.includes(todo.id)" class="spinner-border" role="status"
                            style="width: 1rem; height: 1rem;">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>